#advantages {
  padding-top: 100px;

  #close.rotate {
    div {
      transform: rotate(180deg);
    }
  }
  .btn {
    display: none;
    margin: 0 auto;
    p {
      margin-right: 14px;
    }
    svg {
      filter: invert();
    }
  }
  .btn:hover {
    svg {
      filter: initial;
    }
  }
  h1 {
    margin-bottom: 80px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    li {
      transition: var(--tran);
      border-radius: 24px;
      padding: 0 24px;
      cursor: pointer;
      width: 286px;
      height: 400px;
      span {
        position: relative;
      }
      img {
        margin: 40px 0 60px 0;
      }
      h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
    li:hover,
    li:active {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }

    /* *********************** */
    li span::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -10px;
      left: 10px;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      background-color: var(--prime);
    }
    li:nth-child(2n) span::before {
      background-color: var(--sky-blue);
    }
    li:nth-child(3n) span::before {
      background-color: var(--shiny-pink);
    }
    li:nth-child(5n) span::before {
      background-color: var(--prime);
    }
    /* *********************** */
  }
}

@media (max-width: 767px) {
  #advantages {
    padding-top: 100px;
    .btn {
      display: flex;
      justify-content: center;
    }
    ul.active {
      max-height: 1000px;
    }
    ul {
      justify-content: space-evenly;
      max-height: 430px;
      transition: max-height .3s ease;
      gap: 0px;
      overflow-y: hidden;
      li {
        img {
          margin: 40px 0 30px 0;
        }
        width: 150px;
        height: 200px;
        text-align: center;
        p {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  #advantages { 
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
