@media (max-width: 2000px) {
  #cta {
    height: calc(100vh - 80px);
  }
}
#cta {
  padding-top: 200px;
  gap: 35px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6em;
    padding: 0;
    margin: 0;
  }
  p {
    max-width: 650px;
    text-align: center;
    margin: 30px auto;
  }
  .btn {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  #cta {
    padding-top: 100px;
    gap: 35px;
    h1 {
      font-size: 48px;
      margin-bottom: 20px;
      img {
        width: 160px;
      }
    }
  }
}
