@media (max-width: 2000px)  and (min-width: 767px){
  #faqs {
    height: calc(100vh - 80px);
  }
}
#faqs {
  padding-top: 150px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.faq__left {
  text-wrap: pretty;
  h1 {
    text-align: left;
    max-width: 550px;
  }
  p:last-child {
    max-width: 350px;
  }
}

.faq__right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 65%;
  .faq {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    h3 {
      font-size: 20px;
      font-weight: 600;
      padding: 0;
      margin: 0;
    }
    span {
      width: 200px;
      height: 2px;
      background-color: var(--black);
    }
  }
  .question {
    display: flex;
    img {
      margin-left: auto;
      width: 2rem;
      height: 2rem;
      transition: transform var(--tran) ease;
    }
  }
  .faq.active .answer {
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
  }
  .faq.active img {
    transform: rotate(180deg);
  }
  .answer {
    max-height: 0;
    overflow: hidden;
    max-width: 350px;
    transition: max-height 0.3s ease;
  }
}

@media (max-width: 767px) {
  #faqs {
    padding-top: 100px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .faq__left {
      gap: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1, p, .q32h45bb43 {
        text-align: center;
        margin: 0 auto;

      }

    }
    .faq__right {
      margin-top: 3rem;
      width: 100%;
    }
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
